/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#playMedia {
	-fx-background-image: url("../../res/icons/iconPlay.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#playMedia:hover {
	-fx-background-image: url("../../res/icons/iconPlayWhite.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#stopMedia {
	-fx-background-image: url("../../res/icons/iconStop.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#stopMedia:hover {
	-fx-background-image: url("../../res/icons/iconStopWhite.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#pauseMedia {
	-fx-background-image: url("../../res/icons/iconPause.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#pauseMedia:hover {
	-fx-background-image: url("../../res/icons/iconPauseWhite.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#previousMedia {
	-fx-background-image: url("../../res/icons/iconPrevious.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#previousMedia:hover {
	-fx-background-image: url("../../res/icons/iconPreviousWhite.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#nextMedia {
	-fx-background-image: url("../../res/icons/iconNext.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#nextMedia:hover {
	-fx-background-image: url("../../res/icons/iconNextWhite.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#addMusic {
	-fx-background-image: url("../../res/icons/iconPlus.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#addMusic:hover {
	-fx-background-image: url("../../res/icons/iconPlusWhite.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#removeMusic {
	-fx-background-image: url("../../res/icons/iconMinus.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#removeMusic:hover {
	-fx-background-image: url("../../res/icons/iconMinusWhite.png");
	-fx-background-size: 22.0, 22.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#volumeLabel0 {
	-fx-background-image: url("../../res/icons/iconVolumeMute.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#volumeLabel1 {
	-fx-background-image: url("../../res/icons/iconVolumeLow.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#volumeLabel2 {
	-fx-background-image: url("../../res/icons/iconVolumeMedium.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#volumeLabel3 {
	-fx-background-image: url("../../res/icons/iconVolumeHigh.png");
	-fx-background-size: 28.0, 28.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

#splitPane .split-pane-divider {
    -fx-padding: 0.0 0.0 0.0 0.0;
}

#sliderMedia {
	-fx-shadow-highlight-color: #404040;
	-fx-text-box-border: #404040;
	-fx-control-inner-background: #404040;
}

#sliderMedia .thumb {
    -fx-background-color: white; 
}

#sliderVolume {
	-fx-shadow-highlight-color: #404040;
	-fx-text-box-border: #404040;
	-fx-control-inner-background: #404040;
}

#menuBar .label {
	-fx-text-fill: white;
}

.menu:hover, .menu:showing{
  -fx-background-color: #404040;
}

.menu-item {
	-fx-background-color: #121212;
	-fx-text-fill: white;
}

.menu-item:hover {
	-fx-background-color: #404040;
}

.menu .context-menu {
	-fx-padding: 0.0 0.0 0.0 0.0;
}
